*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    margin: 55px 0 0 0;
    background: linear-gradient(rgb(255, 255, 255,0.6),rgb(255, 255, 255,0.6)), url("dt1.jpg");
    background-size:cover;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1{
    width: 40%;
    font-size: 75px;
    color: #360b22;
    margin-right: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#p1,#p2{
    width: 80%;
    margin: 100px 0 0 0 ;
    font-family: cursive;
    font-size: 21px;
    text-indent: 50px;
}
.content{
    position: relative;
    height: 400px;
    margin: 80px;
    width: 99.9%;
    display: flex;
    /*margin-left: 100px;*/
    margin-bottom: 150px;
}
.container{
    display: flex;
    flex-direction:row;
    scroll-behavior: smooth;
    transition: 1s ease;
    width: 80%;
    height: 300px;
    align-items:center;
    justify-content: start;
    margin: 50px 30px 10px 20px;
    overflow-x: auto;
}
.container::-webkit-scrollbar{
    width: 0px;
}

.left,.right{
    border: none;
    height: 30px;
    width: 30px;
    background-color:transparent; 
}

.left{
    margin: 180px 0 0 100px;
}

.left img,.right img {
    height: 20px;
    width: 20px;
    margin: 0;
} 

.right {
    margin: 180px 100px 0 0px;
}

.box{ 
    width: 250px;
    height: 250px;
    min-width: 300px; 
}

#image1 {
    height: 160px;
    border-radius: inherit;
    background-image: url(paleofood.jpeg);
    background-size:230px;
    background-repeat: no-repeat;
    background-position: top;
}
#image2{
    height: 160px;
    border-radius: inherit;
    background-image: url(vegan1.jpeg);
    background-size:215px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50px;
}
#image3{
    height: 160px;
    border-radius: inherit;
    background-image: url(lowfatfood.jpg);
    background-size:180px;
    background-repeat: no-repeat;
    background-position: top;
}
#image4{
    height: 160px;
    border-radius: inherit;
    background-image: url(ketodiet.jpg);
    background-size:185px;
    background-repeat: no-repeat;
    background-position: center;
}
#image5{
    height: 160px;
    border-radius: inherit;
    background-image: url(dukandiet.jpg);
    background-size:185px;
    background-repeat: no-repeat;
    background-position: center;
}
#image6{
    height: 160px;
    border-radius: inherit;
    background-image: url(atkindiet.jpg);
    background-size:185px;
    background-repeat: no-repeat;
    background-position: center;
}
.box:hover{
    transition: all .5s;
    transform: scale(1.1);
}
.box  h2{
    font-family: 'Dancing script';
    font-size: 35px;
    font-weight: 1000;
    margin: 10px 0 0 80px;
}
.box .btn{
    height: 25px;
    width: 90px;
    background: linear-gradient(to right,#e36f6d 0%, #b82d2d 100%);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    font-family: cursive;
    margin: 10px 0 0 var(--margin);
}
.btn:hover{
    opacity: 0.8;
}

.read{
    visibility: hidden;
    position: absolute;
    height: 84vh;
    width: 99%;
    margin: -20px 0  7px;
}

.fade{
    visibility: hidden;
    background-color:transparent;
    position: absolute;
    top: 0;      
    right:0;
    bottom: 0;
    left: 0;
    z-Index: 999;
    height: 100%;
    width:100%;
    animation: fadein 1s ease;
}

.inside{
    background:radial-gradient(farthest-corner at 40px 40px,#e36f6d 0%,#b82d2d 100%);
    height: 80%;
    width: 80%;
    margin: 0px 0 0 160px;
    border-radius: 0px 50px  0 50px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
}
@keyframes fadein {
    from{scale: 0;opacity: 0;}
    to{
        scale: 1;
        opacity: 1;
    }
}

.inside section{
    margin: 90px 0px 80px 50px;
    color: white;
}

.appear{
    opacity: 0;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    box-sizing: border-box;
    margin : 100px 0 0 50px ;
    box-shadow: 0 0 10px black;
    animation: slide-in .8s ;   
    animation-fill-mode: forwards;
    animation-delay: .9s;
}

@keyframes slide-in {
    to{
        scale: 1;
        opacity: 1;
    }
}

.title{
    opacity: 0;
    font-family:'dancing script';
    font-size: 65px;
    text-align: left;
    text-transform: capitalize;
    margin-left: 50px;
    margin-bottom: 25px;
    font-weight: bolder;
    animation: slide-in 1s ;   
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

.para{
    opacity: 0;
    font-family: cursive;
    text-indent: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    animation: slide-in 2s ;   
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    margin-right: 80px;
}

.fade button{
    border: none;
    margin: 0 0 5px 1260px;
    height: 30px;
    width: 60px;
    color: #b82d2d;
    background-color: transparent;
    font-size: 16px;
    border-radius: 10px;
}
.fade button:hover{
    color: black;
}
